.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    /* or 160% */

    letter-spacing: -0.02em;

    color: #0A1B32;
    margin-top: 37px;
    margin-left: 80px;
}

.logo-dot {
    color: #824FF1;
}

section {
    display: inline-block;
}

.main-title {
    max-width: 495px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;

}

.main-info {
    max-width: 583px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
 }
    
 .main-btn {
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 200px;
    background: #824FF1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;

 }
.signup-btn {
    position: absolute;
    width: 120px;
    height: 59.65px;
    left: 1412.26px;
    top: 30px;
    background: #824FF1;
    border-radius: 6px; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}
 
.signin-btn {
    position: absolute;
    width: 120px;
    height: 59.65px;
    left: 1250.96px;
    top: 30px;
    background: #ffffff;
    border-radius: 6px; 
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000f6;
    border: none;
}
 


.home-btn {
    position: absolute;
    width: 60px;
    height: 24px;
    left: 272.76px;
    top: 48px;
    background: #ffffff;
    border-radius: 6px; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000f6;
    border: none;
}
 
 .about-btn {
    position: absolute;
    width: 60px;
    height: 24px;
    left: 355.76px;
    top: 48px;
    background: #ffffff;
    border-radius: 6px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000f6;
    border: none;
 }

 .blog-btn {
    position: absolute;
    width: 50px;
    height: 24px;
    left: 439.76px;
    top: 48px;
    background: #ffffff;
    border-radius: 6px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000f6;
    border: none;
}

 .contact-btn {
    position: absolute;
    width: 70px;
    height: 24px;
    left: 510.76px;
    top: 48px;
    background: #ffffff;
    border-radius: 6px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000f6;
    border: none;
 }